In [43]:
import pandas as pd

### Example-1

In [82]:
df = pd.DataFrame({'X':[1, 2, 3, 4, 5], 'y': [6, 7, 8, 9, 10]})
df

   X   y
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

# Modeling
- Calculating the best B0 and B1 for the given dataset by using OLS Technique

##### in fit (x) should be in DataFrame because x can be multiple variable and y should be in series.

In [83]:
X = df[['X']]
y = df['y']

in all machine learning, algorithm will be changed but these below lines will be same always

In [84]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(df[['X']], df['y'])

LinearRegression()

In [85]:
lr.coef_

array([1.])

In [86]:
lr.intercept_

5.0

# Prediction
- Subsituting the x values in equation/model

In [87]:
pred = lr.predict(df[['X']])
pred

array([ 6.,  7.,  8.,  9., 10.])

# Evaluation
- Comparing the actual output values with model predict output values9

In [88]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y, pred)
mse

0.0

##### we are comparing model predicted value called pred with actual values called 'y'

In [89]:
mse = mean_squared_error(df['y'], pred)
mse

0.0

In [90]:
import math
rsme = math.sqrt(mse)
rsme

0.0

### Now, your model is ready and predict on new data.

In [91]:
lr.predict([[6]])

C:\Users\Hp\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11.])

In [92]:
lr.predict([[45]])

C:\Users\Hp\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([50.])

### Example-2

In [55]:
df = pd.DataFrame({'X':[1, 2, 3, 4, 5], 'y': [1, 4, 9, 16, 25]})
df

   X   y
0  1   1
1  2   4
2  3   9
3  4  16
4  5  25

In [56]:
X = df[['X']]
y = df['y']

In [57]:
# Modelling
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X, y)

# Prediction
pred = lr.predict(df[['X']])

# Evaluation
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(df['y'], pred)
rsme = math.sqrt(mse)
rsme

1.6733200530681507

In [58]:
lr.predict([[6]])

C:\Users\Hp\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([29.])

In [59]:
lr.predict([[45]])

C:\Users\Hp\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([263.])

## Non-Linear Regression
- Increasing the degree of X & applying Linear Regression

In [19]:
df = pd.DataFrame({'X':[1, 2, 3, 4, 5], 'y':[1, 4, 9, 16, 25]})
df

   X   y
0  1   1
1  2   4
2  3   9
3  4  16
4  5  25

##### this is non-linear regression because we are increaing the degree of 'x'

In [20]:
df['X2'] = df['X'] * df['X'] 
df

   X   y  X2
0  1   1   1
1  2   4   4
2  3   9   9
3  4  16  16
4  5  25  25

In [21]:
X = df[['X', 'X2']]
y = df['y']

In [22]:
# Modeling
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X, y)
print('intercept', lr.intercept_)
print('coefficient', lr.coef_)

intercept 1.7763568394002505e-15
coefficient [-2.27033898e-15  1.00000000e+00]

In [23]:
# prediction
pred = lr.predict(df[['X', 'X2']])

In [24]:
# Evaluation
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(df['y'], pred)
mse

7.888609052210118e-31

In [25]:
import math
rsme = math.sqrt(mse)
round(rsme)

0

In [133]:
df = pd.DataFrame({'X':[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'y': [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]})
df

    X    y
0   1    1
1   2    4
2   3    9
3   4   16
4   5   25
5   6   36
6   7   49
7   8   64
8   9   81
9  10  100

In [134]:
df['X'].mean()

5.5

In [135]:
df['y'].mean()

38.5

In [136]:
X = df[['X']]
y = df['y']

In [137]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=True)
X_train

   X
6  7
4  5
0  1
3  4
1  2
7  8
8  9
5  6

In [138]:
y_train

6    49
4    25
0     1
3    16
1     4
7    64
8    81
5    36
Name: y, dtype: int64

In [139]:
X_test

    X
2   3
9  10

In [140]:
y_test

2      9
9    100
Name: y, dtype: int64

LinearRegression()

Intercept: -17.432432432432428
Coefficient: [9.89189189]