## Step -1 Business Problem Understanding

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Step -2 Data Understanding

#### Load data & Understand every variable

In [2]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

#### dataset understanding

In [3]:
df.shape

(1338, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
df['sex'].value_counts()

sex
male      676
female    662
Name: count, dtype: int64

In [6]:
df['children'].value_counts()

children
0    574
1    324
2    240
3    157
4     25
5     18
Name: count, dtype: int64

In [7]:
df['smoker'].value_counts()

smoker
no     1064
yes     274
Name: count, dtype: int64

In [8]:
df['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

#### Exploratory Data Analysis

In [9]:
continuous_features = ['age', 'bmi', 'expenses']
discrete_categorical = ['sex', 'smoker', 'region']
discrete_count = ['children']

In [10]:
df[continuous_features].describe()

               age          bmi      expenses
count  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471  13270.422414
std      14.049960     6.098382  12110.011240
min      18.000000    16.000000   1121.870000
25%      27.000000    26.300000   4740.287500
50%      39.000000    30.400000   9382.030000
75%      51.000000    34.700000  16639.915000
max      64.000000    53.100000  63770.430000

In [11]:
df[discrete_categorical].describe()

         sex smoker     region
count   1338   1338       1338
unique     2      2          4
top     male     no  southeast
freq     676   1064        364

In [12]:
df[continuous_features].corr()

               age       bmi  expenses
age       1.000000  0.109341  0.299008
bmi       0.109341  1.000000  0.198576
expenses  0.299008  0.198576  1.000000

## Step - 3: Data Preprocessing

#### Data Cleaning

In [13]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [14]:
df.duplicated().sum()

1

In [15]:
df.drop_duplicates(inplace=True)

In [16]:
df.shape

(1337, 7)

In [17]:
df.drop('region', axis=1, inplace=True)

#### Encoding

In [18]:
# encoding sex column
df['sex'].replace({'female':0, 'male':1}, inplace=True)

# encoding 'smoker' column
df['smoker'].replace({'no':0, 'yes':1}, inplace=True)

#### X&y

In [19]:
X = df.drop('expenses', axis=1)
y = df['expenses']

## Step - 4: Modeling

### findout the best random_state value

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score

Train = []
Test = []
CV = []

for i in range(0, 100):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=i)
    model = LinearRegression()
    model.fit(X_train, y_train)

    ypred_train = model.predict(X_train)
    ypred_test = model.predict(X_test)

    Train.append(model.score(X_train, y_train))
    # print('Train R2:', r2_score(y_train, ypred_train))
    Test.append(model.score(X_test, y_test))
    # print('Test R2:', r2_score(y_test, ypred_test))

    CV.append(cross_val_score(model, X_train, y_train, cv=5).mean())


em = pd.DataFrame({'Train':Train, 'Test':Test, 'CV':CV})
gm = em[(abs(em['Train']-em['Test']) <= 0.05) & (abs(em['Test']-em['CV']) <=0.05)]
print('best random state number:', gm[gm['Test']==gm['Test'].max()].index.to_list())

best random state number: [90]

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=90)

# <font color = aqua> Polynomial Regresion </font>

## Hyperparameter Tuning
#### Choosing the best polynomial degree for given dataset

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures


train_r2 = []
test_r2 = []
for i in range(1, 10):
    # data preprocessing on train data
    polynomial_converter = PolynomialFeatures(degree=i)
    X_train_poly = pd.DataFrame(polynomial_converter.fit_transform(X_train))

    # modelling on train data
    from sklearn.linear_model import LinearRegression
    model = LinearRegression()
    model.fit(X_train_poly, y_train)


    # prediction and evaluation on train data
    ypred_train = model.predict(X_train_poly)
       # print('Train R2:', i, model.score(X_train_poly, y_train))
    train_r2.append(model.score(X_train_poly, y_train))

    # transformation on test data
    X_test_poly = pd.DataFrame(polynomial_converter.fit_transform(X_test))

    # prediction and evaluation on test data
    ypred_test = model.predict(X_test_poly)
       # print('Test R2:', i, model.score(X_test_poly, y_test))
    test_r2.append(model.score(X_test_poly, y_test))

In [22]:
train_r2

[0.7534047032429125,
 0.8518158721422955,
 0.8573386380332926,
 0.8650459859927726,
 0.8768560169823806,
 0.8871561130629013,
 0.897806284288317,
 0.9105161558364627,
 0.9177202702797055]

In [23]:
test_r2

[0.7301345889514133,
 0.8030933521293255,
 0.8031970891463733,
 0.803574606861148,
 0.8037016056789452,
 0.7074317602569844,
 -0.27194286529013123,
 -16.81247790799587,
 -1214.790894111735]

##### between both train_r2 and test_r2, we can see index number 4 is having highest degree

### Build a model

In [31]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

polynomial_converter = PolynomialFeatures(degree=4, include_bias=True)
X_train_poly = pd.DataFrame(polynomial_converter.fit_transform(X_train))
X_test_poly = pd.DataFrame(polynomial_converter.fit_transform(X_test))

model = LinearRegression()
model.fit(X_train_poly, y_train)
print('Intercept:', model.intercept_)
print('Coefficients:', model.coef_)

ypred_train = model.predict(X_train_poly)
ypred_test = model.predict(X_test_poly)

print('Train R2:', r2_score(y_train, ypred_train))
print('Test R2:', r2_score(y_test, ypred_test))
from sklearn.model_selection import cross_val_score
print('Cross Validation Score:', cross_val_score(model, X_train_poly, y_train, cv=5).mean())

Intercept: 921.6090469079099
Coefficients: [-3.42966562e-04  5.21025583e+02  7.49520638e+03 -1.25704652e+03
 -7.50107454e+03  4.42787404e+04 -1.96349433e+01 -1.97354754e+02
  1.22676348e+01  4.99081459e+02  2.33900288e+02  7.49520637e+03
 -9.09839866e+02  3.71938674e+03 -8.61849586e+03  9.23192738e+01
 -1.11416574e+02 -6.39071035e+03  3.51829635e+03 -7.02593510e+02
  4.42787404e+04  4.31045603e-01  3.30453663e+00 -2.93585129e-02
 -4.23086885e+00 -8.27294056e+00 -1.97354750e+02  1.61727802e+01
  3.38828777e+01  1.53574925e+02 -8.60494138e-01 -2.49705177e+01
 -2.69196284e-01 -1.08451012e+02  5.69996349e+00  2.33900288e+02
  7.49520637e+03 -9.09839865e+02  3.71938674e+03 -8.61849586e+03
  3.89268710e+01 -4.12547482e+02  9.76814217e+02 -4.42933335e+02
 -1.56647980e+02 -8.61849586e+03 -2.32383022e+00  2.91390651e+01
  3.33078505e+02 -2.26296582e+01  1.98462007e+01 -6.39071035e+03
 -4.06963442e+02 -4.47158333e+01 -7.02593510e+02  4.42787404e+04
 -4.28476579e-03 -1.84642387e-01  9.73668231e-03  3.93776769e-02
  8.71539064e-02  3.30453605e+00  4.60264481e-01 -9.70799797e-01
 -6.12168763e-01 -2.05182063e-02  1.21039017e-01  4.34512175e-02
 -4.44952569e-01 -8.74027994e-01 -8.27294030e+00 -1.97354750e+02
  1.61727800e+01  3.38828776e+01  1.53574925e+02 -1.14756727e+00
 -6.62627633e-02 -9.15320078e+00  8.97170423e+00 -8.73968453e+01
  1.53574925e+02  3.22285534e-02  2.23489171e-01  1.75222474e-02
  1.85321963e+00 -6.09055427e-01 -2.69196584e-01  1.43085826e+01
  6.33537983e+01  5.69996348e+00  2.33900288e+02  7.49520637e+03
 -9.09839864e+02  3.71938674e+03 -8.61849586e+03  3.89268709e+01
 -4.12547482e+02  9.76814217e+02 -4.42933335e+02 -1.56647980e+02
 -8.61849586e+03 -4.55545493e-01  1.21780343e+01 -4.52756948e+01
  3.39540897e+01  7.65089997e+01  9.76814217e+02 -4.30159157e+01
  5.08821170e+02 -1.56647980e+02 -8.61849586e+03  1.33342948e-02
 -4.88486327e-01 -6.91888533e+00 -7.94299649e-01  6.82971345e-01
  3.33078505e+02 -8.36826791e-01 -4.43768571e+01  1.98462007e+01
 -6.39071035e+03 -7.29996332e+00 -2.27497974e+02 -4.47158333e+01
 -7.02593510e+02  4.42787404e+04]
Train R2: 0.8512842583640126
Test R2: 0.8112069152864396
Cross Validation Score: 0.8126643086646149

##### on the future data, we are also needed to transform the test data with polynomial

# Predictions on a new data

In [25]:
test_df = {'age':35,
             'sex':'Male',
             'bmi':31.4,
             'children':5,
             'smoker':'yes',
             'region':'southeast'}
df_test = pd.DataFrame(test_df, index=[0])
df_test

   age   sex   bmi  children smoker     region
0   35  Male  31.4         5    yes  southeast

In [26]:
df_test.drop('region', axis=1, inplace=True)

In [27]:
df_test['sex'].replace({'female':0, 'Male':1}, inplace=True)
df_test['smoker'].replace({'no':0, 'yes':1}, inplace=True)
X2 = df_test
X2

   age  sex   bmi  children  smoker
0   35    1  31.4         5       1

In [28]:
transformed_data = polynomial_converter.fit_transform(X2)
transformed_data

array([[1.00000000e+00, 3.50000000e+01, 1.00000000e+00, 3.14000000e+01,
        5.00000000e+00, 1.00000000e+00, 1.22500000e+03, 3.50000000e+01,
        1.09900000e+03, 1.75000000e+02, 3.50000000e+01, 1.00000000e+00,
        3.14000000e+01, 5.00000000e+00, 1.00000000e+00, 9.85960000e+02,
        1.57000000e+02, 3.14000000e+01, 2.50000000e+01, 5.00000000e+00,
        1.00000000e+00, 4.28750000e+04, 1.22500000e+03, 3.84650000e+04,
        6.12500000e+03, 1.22500000e+03, 3.50000000e+01, 1.09900000e+03,
        1.75000000e+02, 3.50000000e+01, 3.45086000e+04, 5.49500000e+03,
        1.09900000e+03, 8.75000000e+02, 1.75000000e+02, 3.50000000e+01,
        1.00000000e+00, 3.14000000e+01, 5.00000000e+00, 1.00000000e+00,
        9.85960000e+02, 1.57000000e+02, 3.14000000e+01, 2.50000000e+01,
        5.00000000e+00, 1.00000000e+00, 3.09591440e+04, 4.92980000e+03,
        9.85960000e+02, 7.85000000e+02, 1.57000000e+02, 3.14000000e+01,
        1.25000000e+02, 2.50000000e+01, 5.00000000e+00, 1.00000000e+00,
        1.50062500e+06, 4.28750000e+04, 1.34627500e+06, 2.14375000e+05,
        4.28750000e+04, 1.22500000e+03, 3.84650000e+04, 6.12500000e+03,
        1.22500000e+03, 1.20780100e+06, 1.92325000e+05, 3.84650000e+04,
        3.06250000e+04, 6.12500000e+03, 1.22500000e+03, 3.50000000e+01,
        1.09900000e+03, 1.75000000e+02, 3.50000000e+01, 3.45086000e+04,
        5.49500000e+03, 1.09900000e+03, 8.75000000e+02, 1.75000000e+02,
        3.50000000e+01, 1.08357004e+06, 1.72543000e+05, 3.45086000e+04,
        2.74750000e+04, 5.49500000e+03, 1.09900000e+03, 4.37500000e+03,
        8.75000000e+02, 1.75000000e+02, 3.50000000e+01, 1.00000000e+00,
        3.14000000e+01, 5.00000000e+00, 1.00000000e+00, 9.85960000e+02,
        1.57000000e+02, 3.14000000e+01, 2.50000000e+01, 5.00000000e+00,
        1.00000000e+00, 3.09591440e+04, 4.92980000e+03, 9.85960000e+02,
        7.85000000e+02, 1.57000000e+02, 3.14000000e+01, 1.25000000e+02,
        2.50000000e+01, 5.00000000e+00, 1.00000000e+00, 9.72117122e+05,
        1.54795720e+05, 3.09591440e+04, 2.46490000e+04, 4.92980000e+03,
        9.85960000e+02, 3.92500000e+03, 7.85000000e+02, 1.57000000e+02,
        3.14000000e+01, 6.25000000e+02, 1.25000000e+02, 2.50000000e+01,
        5.00000000e+00, 1.00000000e+00]])

In [29]:
model.predict(transformed_data)

array([26684.35830637])