In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = [["milk",'bread','rice','book'],['bread','jam','book','pen'],
        ['jam','milk','bread','rice','egg'],['rice','egg','pen','book'],
        ['egg','pen','milk','bread','jam'],['egg','rice','bread','jam']]

In [3]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_array = te.fit_transform(data)

In [4]:
import pandas as pd
df = pd.DataFrame(te_array, columns=te.columns_)
df

    book  bread    egg    jam   milk    pen   rice
0   True   True  False  False   True  False   True
1   True   True  False   True  False   True  False
2  False   True   True   True   True  False   True
3   True  False   True  False  False   True   True
4  False   True   True   True   True   True  False
5  False   True   True   True  False  False   True

In [7]:
from mlxtend.frequent_patterns import apriori
itemset = apriori(df, min_support=0.5, use_colnames=True)
itemset

     support           itemsets
0   0.500000             (book)
1   0.833333            (bread)
2   0.666667              (egg)
3   0.666667              (jam)
4   0.500000             (milk)
5   0.500000              (pen)
6   0.666667             (rice)
7   0.500000       (bread, egg)
8   0.666667       (jam, bread)
9   0.500000      (bread, milk)
10  0.500000      (rice, bread)
11  0.500000         (jam, egg)
12  0.500000        (rice, egg)
13  0.500000  (jam, bread, egg)

In [8]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(itemset, metric='confidence', min_threshold=0.6)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(bread),(egg),0.833333,0.666667,0.500000,0.60,0.900,-0.055556,0.833333,-0.400000
1,(egg),(bread),0.666667,0.833333,0.500000,0.75,0.900,-0.055556,0.666667,-0.250000
2,(jam),(bread),0.666667,0.833333,0.666667,1.00,1.200,0.111111,inf,0.500000
3,(bread),(jam),0.833333,0.666667,0.666667,0.80,1.200,0.111111,1.666667,1.000000
4,(bread),(milk),0.833333,0.500000,0.500000,0.60,1.200,0.083333,1.250000,1.000000
5,(milk),(bread),0.500000,0.833333,0.500000,1.00,1.200,0.083333,inf,0.333333
6,(rice),(bread),0.666667,0.833333,0.500000,0.75,0.900,-0.055556,0.666667,-0.250000
7,(bread),(rice),0.833333,0.666667,0.500000,0.60,0.900,-0.055556,0.833333,-0.400000
8,(jam),(egg),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,0.333333
9,(egg),(jam),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,0.333333
10,(rice),(egg),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,0.333333
11,(egg),(rice),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,0.333333
12,"(jam, bread)",(egg),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,0.333333
13,"(jam, egg)",(bread),0.500000,0.833333,0.500000,1.00,1.200,0.083333,inf,0.333333
14,"(bread, egg)",(jam),0.500000,0.666667,0.500000,1.00,1.500,0.166667,inf,0.666667
15,(jam),"(bread, egg)",0.666667,0.500000,0.500000,0.75,1.500,0.166667,2.000000,1.000000
16,(bread),"(jam, egg)",0.833333,0.500000,0.500000,0.60,1.200,0.083333,1.250000,1.000000
17,(egg),"(jam, bread)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333,0.333333

In [9]:
result = res[['antecedents', 'consequents', 'support', 'confidence', 'lift']]
result

     antecedents   consequents   support  confidence   lift
0        (bread)         (egg)  0.500000        0.60  0.900
1          (egg)       (bread)  0.500000        0.75  0.900
2          (jam)       (bread)  0.666667        1.00  1.200
3        (bread)         (jam)  0.666667        0.80  1.200
4        (bread)        (milk)  0.500000        0.60  1.200
5         (milk)       (bread)  0.500000        1.00  1.200
6         (rice)       (bread)  0.500000        0.75  0.900
7        (bread)        (rice)  0.500000        0.60  0.900
8          (jam)         (egg)  0.500000        0.75  1.125
9          (egg)         (jam)  0.500000        0.75  1.125
10        (rice)         (egg)  0.500000        0.75  1.125
11         (egg)        (rice)  0.500000        0.75  1.125
12  (jam, bread)         (egg)  0.500000        0.75  1.125
13    (jam, egg)       (bread)  0.500000        1.00  1.200
14  (bread, egg)         (jam)  0.500000        1.00  1.500
15         (jam)  (bread, egg)  0.500000        0.75  1.500
16       (bread)    (jam, egg)  0.500000        0.60  1.200
17         (egg)  (jam, bread)  0.500000        0.75  1.125