## Step -1 Business Problem Understanding

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Step -2 Data Understanding

#### Load data & Understand every variable

In [3]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

#### dataset understanding

In [4]:
df.shape

(1338, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
df['sex'].value_counts()

sex
male      676
female    662
Name: count, dtype: int64

In [7]:
df['children'].value_counts()

children
0    574
1    324
2    240
3    157
4     25
5     18
Name: count, dtype: int64

In [8]:
df['smoker'].value_counts()

smoker
no     1064
yes     274
Name: count, dtype: int64

In [9]:
df['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

#### Exploratory Data Analysis

In [10]:
continuous_features = ['age', 'bmi', 'expenses']
discrete_categorical = ['sex', 'smoker', 'region']
discrete_count = ['children']

In [11]:
df[continuous_features].describe()

               age          bmi      expenses
count  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471  13270.422414
std      14.049960     6.098382  12110.011240
min      18.000000    16.000000   1121.870000
25%      27.000000    26.300000   4740.287500
50%      39.000000    30.400000   9382.030000
75%      51.000000    34.700000  16639.915000
max      64.000000    53.100000  63770.430000

In [12]:
df[discrete_categorical].describe()

         sex smoker     region
count   1338   1338       1338
unique     2      2          4
top     male     no  southeast
freq     676   1064        364

In [13]:
df[continuous_features].corr()

               age       bmi  expenses
age       1.000000  0.109341  0.299008
bmi       0.109341  1.000000  0.198576
expenses  0.299008  0.198576  1.000000

## Step - 3: Data Preprocessing

#### Data Cleaning

In [14]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [15]:
df.duplicated().sum()

1

In [16]:
df.drop_duplicates(inplace=True)

In [17]:
df.shape

(1337, 7)

In [18]:
df.drop('region', axis=1, inplace=True)

#### Encoding

In [19]:
# encoding sex column
df['sex'].replace({'female':0, 'male':1}, inplace=True)

# encoding 'smoker' column
df['smoker'].replace({'no':0, 'yes':1}, inplace=True)

#### X&y

In [20]:
df.head()

   age  sex   bmi  children  smoker  expenses
0   19    0  27.9         0       1  16884.92
1   18    1  33.8         1       0   1725.55
2   28    1  33.0         3       0   4449.46
3   33    1  22.7         0       0  21984.47
4   32    1  28.9         0       0   3866.86

In [21]:
X = df.drop('expenses', axis=1)
y = df['expenses']

#### Train Test Split

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

## Step - 4, 5: Modelling & Evaluation

#### Apply Hyperparameter tuning for Lasso Regression

In [23]:
from sklearn.model_selection import GridSearchCV

# model
from sklearn.linear_model import Lasso
estimator = Lasso()

# Parameters & values
param_grid = {'alpha':list(range(1,100))}

# Identifying the best value of the parameter within given values for the given data
model_hp = GridSearchCV(estimator, param_grid, cv=5, scoring='r2')

model_hp.fit(X_train, y_train)

model_hp.best_params_

{'alpha': 65}

#### Build Lasso Model using best hyperparameters

In [24]:
# Modelling
from sklearn.linear_model import Lasso
lasso_best = Lasso(alpha=65)
lasso_best.fit(X_train, y_train)

print('Intercept:', lasso_best.intercept_)
print('Coefficients:', lasso_best.coef_)

# Prediction & Evaluation on train data
ypred_train = lasso_best.predict(X_train)

from sklearn.metrics import r2_score
print('Train R2:', r2_score(y_train, ypred_train))

from sklearn.model_selection import cross_val_score
print('CV Score:', cross_val_score(lasso_best, X_train, y_train, cv=5).mean())

# Predciion & Evaluation on test data
ypred_test = lasso_best.predict(X_test)
print('Test R2:', r2_score(y_test, ypred_test))

from sklearn.metrics import mean_squared_error
print('Test RMSE:', np.sqrt(mean_squared_error(y_test, ypred_test)))

Intercept: -11915.016920902943
Coefficients: [  256.03965691    -0.           318.65086807   474.66187518
 23728.32320284]
Train R2: 0.7529346993309478
CV Score: 0.745244575512946
Test R2: 0.7344136917371648
Test RMSE: 5995.867532818365

as we can see our gender coefficient is '0' so we will remove this gender column

##### so predicting the expenses, the gender is not important so we will drop that column because we got coefficient = '0' with the help of alpha = 60

### actually, we are dropping this gender column based on model.
because with previous model, I can see my one gender column is '0'

In [25]:
X.head(2)

   age  sex   bmi  children  smoker
0   19    0  27.9         0       1
1   18    1  33.8         1       0

In [26]:
X.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker'], dtype='object')

In [27]:
X = X.drop('sex', axis=1)
y = df['expenses']

# Final model
### With best hyperparameter with important features

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=9)

# Modelling
from sklearn.linear_model import Lasso
lasso_best = Lasso(alpha=65)
lasso_best.fit(X_train, y_train)

print('Intercept:', lasso_best.intercept_)
print('Coefficients:', lasso_best.coef_)

# Predciion & Evaluation on train data
ypred_train = lasso_best.predict(X_train)

from sklearn.metrics import r2_score
print('Train R2:', r2_score(y_train, ypred_train))

from sklearn.model_selection import cross_val_score
print('CV Score:', cross_val_score(lasso_best, X_train, y_train, cv=5).mean())

# Predciion & Evaluation on test data
ypred_test = lasso_best.predict(X_test)
print('Test R2:', r2_score(y_test, ypred_test))

Intercept: -12032.170386632994
Coefficients: [  264.35363416   316.95588449   370.05342821 23592.39102557]
Train R2: 0.7591772364093667
CV Score: 0.7538210140786428
Test R2: 0.7009072187023054

## Prediction on New Data

#### Data

In [29]:
input_data = {'age':35,
             'sex':'Male',
             'bmi':31.4,
             'children':5,
             'smoker':'yes',
             'region':'southeast'}
df_test = pd.DataFrame(input_data, index=[0])
df_test

   age   sex   bmi  children smoker     region
0   35  Male  31.4         5    yes  southeast

### Step: 1 preprocessing the data

#### preprocessing for the future data (these all I performed on actual data so on the future data, I will also perform this
- missing value
- duplicates
- drop region
- replace sex
- replace smoker
- X (variables
- drop sex

In [30]:
df_test.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64

In [31]:
df_test.duplicated()

0    False
dtype: bool

In [32]:
df_test.drop(['region', 'sex'], axis=1, inplace=True)

In [35]:
df_test['smoker'].replace({'no':0, 'yes':1}, inplace=True)
X = df_test
X

   age   bmi  children  smoker
0   35  31.4         5       1

## Step: 2 predict

In [36]:
lasso_best.predict(X)

array([32615.27974853])